# write your settings!

####################
#       peco       #
####################
# function peco_z
#     set -l query (commandline)

#     if test -n $query
#         set peco_flags --query "$query"
#     end

#     z -l | peco $peco_flags | awk '{ print $2 }' | read recent
#     if [ $recent ]
#         cd $recent
#         commandline -r ''
#         commandline -f repaint
#     end
# end

# function peco_ghq
#     set -l query (commandline)

#     if test -n $query
#         set peco_flags --query "$query"
#     end

#     ghq list --full-path | peco $peco_flags | read recent
#     if [ $recent ]
#         cd $recent
#         commandline -r ''
#         commandline -f repaint
#     end
# end

# function fish_user_key_bindings
#     bind \cr 'peco_select_history (commandline -b)'
#     bind \co peco_ghq
#     bind \cq peco_z
# end

####################
#       ghq        #
####################
# function ghq_create
#     cd (ghq create (echo $argv)) | gh repo create (echo $argv) --public -y
#     echo "# "(echo $argv) >> README.md
#     git init
#     git add README.md
#     git commit -m "first commit"
#     git branch -M master
#     git remote add origin git@github.com:takeokunn/(echo $argv).git
#     git push -u origin master
# end

# function ghq_users
#     ghq list | grep "github.com" | cut -d / -f 2 | sort | uniq
# end

# function ghq_user_all
#     curl "https://api.github.com/users/"(echo $argv)"/repos" | jq -r ".[].clone_url" | xargs -L1 ghq get
# end

# function ghq_org_all
#     curl "takeokunn" "https://api.github.com/orgs/"(echo $argv)"/repos" | jq -r ".[].clone_url" | xargs -L1 ghq get
# end

# function ghq_remove
#     ghq list --full-path | peco | xargs -L1 rm -fr
# end

# function ghq_remove_user
#     ghq list | grep "github.com" | cut -d / -f 2 | sort | uniq | peco | read recent
#     ghq list --full-path | grep -E "/"(echo $recent)"/" | xargs -L1 rm -fr
# end

####################
#       tmux       #
####################
# function attach_tmux_session_if_needed
#     set ID (tmux list-sessions)
#     if test -z "$ID"
#         tmux new-session
#         return
#     end

#     set new_session "Create New Session"
#     set ID (string join \n (tmux list-sessions) $new_session | peco --on-cancel=error | cut -d: -f1)
#     if test "$ID" = "$new_session"
#         tmux new-session
#     else if test -n "$ID"
#         tmux attach-session -t "$ID"
#     end
# end

# if test -z $TMUX && status --is-login
#     attach_tmux_session_if_needed
# end

####################
#     awesome      #
####################
# function logo
#     echo '                 '(set_color F00)'___
#   ___======____='(set_color FF7F00)'-'(set_color FF0)'-'(set_color FF7F00)'-='(set_color F00)')
# /T            \_'(set_color FF0)'--='(set_color FF7F00)'=='(set_color F00)')
# [ \ '(set_color FF7F00)'('(set_color FF0)'0'(set_color FF7F00)')   '(set_color F00)'\~    \_'(set_color FF0)'-='(set_color FF7F00)'='(set_color F00)')
#  \      / )J'(set_color FF7F00)'~~    \\'(set_color FF0)'-='(set_color F00)')
#   \\\\___/  )JJ'(set_color FF7F00)'~'(set_color FF0)'~~   '(set_color F00)'\)
#    \_____/JJJ'(set_color FF7F00)'~~'(set_color FF0)'~~    '(set_color F00)'\\
#    '(set_color FF7F00)'/ '(set_color FF0)'\  '(set_color FF0)', \\'(set_color F00)'J'(set_color FF7F00)'~~~'(set_color FF0)'~~     '(set_color FF7F00)'\\
#   (-'(set_color FF0)'\)'(set_color F00)'\='(set_color FF7F00)'|'(set_color FF0)'\\\\\\'(set_color FF7F00)'~~'(set_color FF0)'~~       '(set_color FF7F00)'L_'(set_color FF0)'_
#   '(set_color FF7F00)'('(set_color F00)'\\'(set_color FF7F00)'\\)  ('(set_color FF0)'\\'(set_color FF7F00)'\\\)'(set_color F00)'_           '(set_color FF0)'\=='(set_color FF7F00)'__
#    '(set_color F00)'\V    '(set_color FF7F00)'\\\\'(set_color F00)'\) =='(set_color FF7F00)'=_____   '(set_color FF0)'\\\\\\\\'(set_color FF7F00)'\\\\
#           '(set_color F00)'\V)     \_) '(set_color FF7F00)'\\\\'(set_color FF0)'\\\\JJ\\'(set_color FF7F00)'J\)
#                       '(set_color F00)'/'(set_color FF7F00)'J'(set_color FF0)'\\'(set_color FF7F00)'J'(set_color F00)'T\\'(set_color FF7F00)'JJJ'(set_color F00)'J)
#                       (J'(set_color FF7F00)'JJ'(set_color F00)'| \UUU)
#                        (UU)'(set_color normal)
# end
